# comment

*/temp*
# Exclude files and directories whose names start with temp in any immediate subdirectory of the root. For example, the plain file /somedir/temporary.txt is excluded, as is the directory /somedir/temp.

*/*/temp*
# Exclude files and directories starting with temp from any subdirectory that is two levels below the root. For example, /somedir/subdir/temporary.txt is excluded.

temp?
# Exclude files and directories in the root directory whose names are a one-character extension of temp. For example, /tempa and /tempb are excluded.

**/*.go
# will exclude all files that end with '.go' that are found in all directories, including the root of the build context.

*.md
!README.md
# Here add all the '.md' file in root directory except 'README.md'
# All markdown files right under the context directory except README.md are excluded from the context. Note that markdown files under subdirectories are still included.

*.md
!README*.md
README-secret.md
# No markdown files are included in the context except README files other than 'README-secret.md'

*.md
README-secret.md
!README*.md
# All of the README files are included. The middle line has no effect because '!README*.md' matches 'README-secret.md' and comes last.